html,
body {
  height: 100%;
  background-color: black;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Pixel-based Canvas Scaling: https://stackoverflow.com/questions/7615009/disable-interpolation-when-scaling-a-canvas */
canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}